# Salin ke .env dan isi nilai yang sesuai
ACA_PY_URL=https://cloud-aries-admin.devlab.biz.id
ACA_PY_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
ACA_PY_VERIFY_SSL=false
ACA_PY_TIMEOUT=10

WALT_WALLET_API_BASE=https://wallet-api.devlab.biz.id
WALT_ID_TOKEN=Bearer eyJhbGciOiJIUzI1NiJ9...
WALLET_ID=6923c4db-2880-4a6f-8f15-dac3d4f0a3a3
WALT_TIMEOUT=15
WALT_SELECTED_CREDENTIALS=urn:uuid:74623a2d-1c67-449e-894d-350550ba4393

# Auto-present background job - set true jika butuh ACA-Py auto present
ENABLE_AUTO_PRESENT=false
AUTO_POLL_INTERVAL=5
AUTO_SEND_DELAY=2
INDY_CRED_ID=custom_credential_id_123
INDY_ATTR_REFERENT=attr1_referent

FLASK_HOST=0.0.0.0
FLASK_PORT=5050
FLASK_DEBUG=false
